:host {
  width: 75%;
}

.about {
  background-color: #1e1e1e;
  border-radius: 7px;
  padding: 15px;
  height: 90%;
  line-height: 1.8;
}

@media only screen and (max-width: 900px) {
  :host {
    width: 95%;
  }
}
