<div class="about">
  <p-tabView>
    <p-tabPanel
      i18n
      i18n-header
      header="World"
    >
      W 2222 roku kończyła się ostatnia wojna. Ludzkość zrozumiała, że kolejnego konfliktu nie przetrwa. W czasie rozmów pokojowych ocalałe państwa postanowiły stworzyć grę, która miało wybrać państwo, aby powiodło resztę w nową erę. Rozgrywka będzie trwała 60 lat, a jej celem jest rozwinięcie ludzkości. Państwo które najbardziej przysłuży się ziemi, wygra. Może to być technologia, odkrycie, nowa broń itd. Rozpoczęło się 60 lat złotej ery...</p-tabPanel>
    <p-tabPanel
      i18n
      i18n-header
      header="How to play?"
    >
      Content 2
    </p-tabPanel>
    <p-tabPanel
      i18n
      i18n-header
      header="Me"
    >
      Content 3
    </p-tabPanel>
  </p-tabView>
</div>
