<form [formGroup]="form">
  <i class="pi pi-user first"></i>

  <span>
    <input
      i18n-placeholder
      pInputText
      formControlName="email"
      type="email"
      placeholder="Email"
    />
  </span>

  <app-password-input
    class="password"
    [control]="form.get('password')"
  ></app-password-input>

  <button
    i18n
    pButton
    type="submit"
    class="p-button-rounded"
    [loading]="isSaving"
    [disabled]="form.invalid"
    (click)="handleLogin()"
  >
    {{ 'Login' }}
  </button>

  <button
    pButton
    type="submit"
    class="p-button-rounded google"
    pTooltip="Google"
    [loading]="isSaving"
    (click)="googleAuth.emit()"
  >
    <i class="pi pi-google"></i>
  </button>

  <i
    i18n-pTooltip
    class="pi pi-chevron-circle-right right"
    pTooltip="Register"
    (click)="toRegister.emit()"
  ></i>

  <div i18n class="remind" [routerLink]="['/remind']">Forgot password?</div>
</form>
