<div class="box">
  <form [formGroup]="form">
    <i class="pi pi-user first"></i>

    <span class="p-input-icon-left">
      <i class="pi pi-user"></i>
      <input formControlName="email" type="email" pInputText placeholder="Email">
   </span>


    <span class="p-input-icon-left">
      <i class="pi pi-lock"></i>
      <input formControlName="password" type="password" pInputText placeholder="Password">
    </span>

    <button
      pButton
      type="button"
      class="p-button-rounded"
      [loading]="isSaving"
      [disabled]="form.invalid"
      (click)="login()"
    >Login</button>

    <i (click)="goToRegister()" class="pi pi-chevron-circle-right right" pTooltip="Register"></i>
  </form>
  <p-toast></p-toast>
</div>
