<p-menubar [model]="items">
  <p-avatar
    *ngIf="isAuth && !(isLoading | async)"
    i18n-pTooltip
    pTooltip="Account settings"
    shape="circle"
    [image]="avatar"
    [routerLink]="['/account']"
  ></p-avatar>

  <button
    *ngIf="isAuth"
    i18n-pTooltip
    pButton
    pRipple
    class="p-button-rounded p-button-text"
    tooltipPosition="bottom"
    type="button"
    pTooltip="Logout"
    icon="pi pi-power-off"
    (click)="logout.emit()"
  ></button>

  <button
    *ngIf="!isAuth"
    i18n-pTooltip
    pButton
    pRipple
    [routerLink]="['/login']"
    class="p-button-rounded p-button-text"
    tooltipPosition="bottom"
    type="button"
    pTooltip="Login"
    icon="pi pi-user"
  ></button>
</p-menubar>
