<p-menubar [model]="items">
  <button
    *ngIf="isAuth"
    i18n-pTooltip
    pButton
    class="nick p-button-text"
    type="button"
    pTooltip="Info"
    tooltipPosition="bottom"
    [routerLink]="['/account']"
  >Settings</button>

  <button
    *ngIf="isAuth"
    i18n-pTooltip
    pButton
    pRipple
    class="p-button-rounded p-button-text"
    tooltipPosition="bottom"
    type="button"
    pTooltip="Logout"
    icon="pi pi-power-off"
    (click)="logout.emit()"
  ></button>

  <button
    *ngIf="!isAuth"
    i18n-pTooltip
    pButton
    pRipple
    [routerLink]="['/login']"
    class="p-button-rounded p-button-text"
    tooltipPosition="bottom"
    type="button"
    pTooltip="Login"
    icon="pi pi-user"
  ></button>
</p-menubar>
