<h4>{{ label }}</h4>
<div
  *ngIf="!(isEdit | async); else replace"
  [appEditElement]="saved"
  (click)="openEdit()"
>{{ saved }}</div>
<ng-template #replace>
  <div class="p-inputgroup">
    <input
      pInputText
      [type]="isPasswordInput ? 'password' : 'text'"
      [formControl]="control"
      (keyup.enter)="change()"
    >
    <button
      pButton
      pRipple
      type="button"
      class="p-button-danger"
      icon="pi pi-times"
      (click)="close()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-check"
      class="p-button-success"
      (click)="change()"
    ></button>
  </div>
</ng-template>
