<span class="p-inputgroup">
  <input
    i18n-placeholder
    pInputText
    placeholder="Password"
    [formControl]="control"
    [attr.type]="showPassword ? 'text' : 'password'"
  >
  <span class="p-inputgroup-addon">
    <button
      *ngIf="!showPassword"
      i18n-pTooltip
      pButton
      pRipple
      class="p-button-rounded p-button-text show"
      type="button"
      pTooltip="Show password"
      icon="pi pi-eye"
      (click)="showPassword = !showPassword"
    ></button>
    <button
      *ngIf="showPassword"
      i18n-pTooltip
      pButton
      pRipple
      class="p-button-rounded p-button-text show"
      type="button"
      pTooltip="Hide password"
      icon="pi pi-eye-slash"
      (click)="showPassword = !showPassword"
    ></button>
  </span>
</span>
