<div class="planets">
  <div
    *ngIf="showHello"
    class="hello"
  >
    <app-hello
      (hideHello)="handleHideHello()"
    ></app-hello>
  </div>

  <div
    *ngIf="isloading && !showHello"
    class="loading"
  >
    <p-progressSpinner></p-progressSpinner>
  </div>

  <table *ngIf="!isloading && !showHello">
    <tr *ngFor="let tr of map; let trIndex = index; let trLast = last">
      <td
        *ngFor="let area of tr; let tdIndex = index; let tdLast = last"
        [class.green-place]="!isShipPlaced && trIndex === 0 || trLast || tdIndex === 0 || tdLast"
        [pDroppable]="'shipPlace'"
      >
        <div
          *ngIf="area"
          class="object"
        >
          <div>{{ area }}</div>
          <img
            *ngIf="findPlanet(area)?.type === 'Planet'"
            src="/assets/img/mars.png"
            alt="planet"
            class="planet"
          >
          <img
            *ngIf="findPlanet(area)?.type === 'Station'"
            src="/assets/img/station1.png"
            alt="space station"
            class="station"
          >
        </div>
      </td>
    </tr>
  </table>
</div>
