<div class="planets">
  <div
    *ngIf="(tableMode | async) && !(isloading | async)"
    class="hello"
  >
    <app-message
      [mode]="tableMode | async"
      [lvl]="lvl | async"
      (hideHello)="handleHideHello()"
      (tryAgain)="handleTryAgain()"
      (nextLevel)="handleNextLevel()"
      (backLevel)="handleBackLevel()"
    ></app-message>
  </div>

  <div
    *ngIf="(isloading | async) && !(tableMode | async)"
    class="loading"
  >
    <p-progressSpinner></p-progressSpinner>
  </div>

  <table
    *ngIf="!(isloading | async) && !(tableMode | async)"
    [class.blur-table]="savedMap"
    [@blurAnimation]="savedMap ? true : false"
  >
    <tr *ngFor="let tr of map; let trIndex = index; let trLast = last">
      <td
        *ngFor="let area of tr; let tdIndex = index; let tdLast = last"
        [class.green-place]="!(whereIsShip | async) || canShipMove(trIndex, tdIndex)"
        pDroppable="shipPlace"
        (onDrop)="drop(trIndex, tdIndex)"
      >
        <div
          *ngIf="(whereIsShip | async) && !isShipHere(trIndex, tdIndex)"
          [ngSwitch]="area?.type"
          class="object"
        >
          <div>{{ area?.name }}</div>
          <img
            *ngSwitchCase="'Planet'"
            src="/assets/img/mars.png"
            alt="planet"
            class="planet"
          >
          <img
            *ngSwitchCase="'Station'"
            src="/assets/img/station1.png"
            alt="space station"
            class="station"
          >
          <img
            *ngSwitchCase="'Asteroids'"
            [src]="area.image"
            alt="asteroid"
            class="asteroid"
          >
          <img
            *ngSwitchCase="'Death'"
            [src]="area.image"
            alt="asteroid"
            class="asteroid"
          >
        </div>
        <img
          *ngIf="isShipHere(trIndex, tdIndex)"
          class="ship"
          src="/assets/img/transporter.png"
          alt="ship"
          pDraggable="shipPlace"
        >
      </td>
    </tr>
  </table>
</div>
<p-toast></p-toast>
