<form [formGroup]="form">
  <i class="pi pi-user first"></i>

  <span>
    <input
      i18n-placeholder
      pInputText
      formControlName="email"
      type="email"
      placeholder="Email"
    >
  </span>

  <button
    i18n
    pButton
    type="submit"
    class="p-button-rounded"
    [loading]="isSaving"
    [disabled]="form.invalid"
    (click)="handleRemindPassword()"
  >{{ 'Send email' }}</button>

  <i
    i18n-pTooltip
    class="pi pi-chevron-circle-left left"
    pTooltip="Login"
    (click)="toLogin.emit()"
  ></i>
</form>
