<app-menu-bar
  *ngIf="isAuth"
  @barAnimation
  (logout)="logout()"
></app-menu-bar>

<div
  class="apliaction"
  [class.auth]="!isAuth"
>
  <!-- <div
    *ngIf="isAuth"
    @asideAnimation
    class="aside"
  >
    <app-left-aside></app-left-aside>
  </div> -->

  <div
    @mainAnimation
    class="main"
    [class.content]="isAuth"
  >
    <router-outlet></router-outlet>
  </div>
</div>

<img
  *ngIf="!whereIsShip"
  class="ship"
  src="/assets/img/transporter.png"
  pDraggable="shipPlace"
  alt="ship"
>

<div
  *ngIf="whereIsShip"
  class="spice"
  i18n-pTooltip
  pTooltip="Spice"
>
  <div>{{ spice }}</div>
  <img
    src="/assets/img/spice.png"
    alt="spice"
  >
</div>

<p-menu
  #selectLang
  [popup]="true"
  [model]="items"
></p-menu>
<button
  pButton
  class="lang"
  label="Language"
  icon="pi pi-bars"
  iconPos="left"
  (click)="selectLang.toggle($event)"
></button>
<button
  *ngIf="whereIsShip"
  pButton
  class="turn"
  icon="pi pi-refresh"
  iconPos="left"
  label="Reset map"
  (click)="resetMap()"
></button>
