.main {
  height: 100%;
}

.content {
  margin-top: 100px;
  height: 75vh;
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: auto;
}

.apliaction {
  display: flex;
}

.aside {
  height: 70vh;
  background-color: #1e1e1e;
  margin-top: 20vh;
  width: 200px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.auth {
  justify-content: center;
  height: 100%;
}

.turn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.lang {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.ship {
  position: absolute;
  height: 75px;
  margin-left: 45vw;
  cursor: move;
}

.spice {
  color: white;
  position: absolute;
  left: 50vw;
  bottom: 8px;
  text-align: center;
}

.spice img {
  height: 55px;
}

.spice div {
  margin-bottom: 5px;
  font-style: italic;
  font-family: fantasy;
}

.ability {
  position: absolute;
  top: 85px;
  left: 48vw;
  border-radius: 0%;
  opacity: 85%;
}

.menu-bottom {
  width: 100%;
}

.svg-refresh {
  filter: invert(70%) sepia(0%) saturate(5487%) hue-rotate(12deg) brightness(111%) contrast(109%);
}

.menu-img {
  width: 80%;
}
