.main {
  height: 100%;
}

.content {
  margin-top: 100px;
  height: 75vh;
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: auto;
}

.apliaction {
  display: flex;
}

.auth {
  justify-content: center;
  height: 100%;
}

.settings {
  height: 85vh;
}
