<div class="box">
    <app-register
      *ngIf="pathName === '/register'"
      [isSaving]="isSaving"
      (createAccount)="register($event)"
      (toLogin)="toLogin()"
    ></app-register>

    <app-login
      *ngIf="pathName === '/login'"
      [isSaving]="isSaving"
      (loginToAccount)="login($event)"
      (toRegister)="toRegister()"
    ></app-login>

    <app-remind-password
      *ngIf="pathName === '/remind'"
      [isSaving]="isSaving"
      (remindPassword)="resetPassword($event)"
      (toLogin)="toLogin()"
    ></app-remind-password>
  <p-toast></p-toast>
</div>
