<div>
  <p-fieldset
    legend="Main"
    [toggleable]="true"
  >
    <div
      *ngIf="!(isLoading | async)"
      class="items"
      [formGroup]="form"
    >
      <div class="image">
        <app-editable-image
          [isEdit]="showEditInput"
          [avatar]="avatar"
          [percentage]="percentage"
          (upload)="upload($event)"
        ></app-editable-image>
      </div>

      <div class="item">
        <app-editable-input
          i18n-labelText
          labelText="Name"
          [savedValue]="user?.displayName"
          [control]="form.get('displayName')"
          (onEnter)="changeName()"
        ></app-editable-input>
      </div>

      <div class="item">
        <app-editable-input
          i18n-labelText
          labelText="Email"
          [savedValue]="user?.email"
          [control]="form.get('email')"
          (onEnter)="changeEmail()"
        ></app-editable-input>
      </div>

      <div class="item">
        <app-editable-input
          i18n-labelText
          labelText="Password"
          [savedValue]="'*******'"
          [control]="form.get('password')"
          [isPasswordInput]="true"
          (onEnter)="changePassword()"
        ></app-editable-input>
      </div>
    </div>

    <div
      *ngIf="isLoading | async"
      class="loading"
    >
      <p-progressSpinner></p-progressSpinner>
    </div>
  </p-fieldset>
</div>
<p-toast></p-toast>
