/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Noto Sans JP', sans-serif;
  background-image: url("/assets/img/space.jpg");
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.loading {
  display: flex;
  text-align: center;
}

.loading p-progressspinner {
  align-self: center;
  flex: 1;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-overlay-badge, .p-badge {
  position: fixed !important;
}

.hide-badge .p-badge {
  display: none;
}

.p-image img {
  border-radius: 50%;
}
